@font-face {
   font-family: 'Roboto Flex';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///A:/Szko%C5%82a/programowanie/projekty_szko%C5%82a/projekthotel/githubkopia/projekt/strona/fonts/Roboto Flex/regular.ttf') format('truetype');
}
